body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
}

h1, h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_description {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

/* Options */
.options__description {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.options{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:3%;
}
.options > * {
    width:15%;
    display:flex;
    flex-direction: column;
}
.options__origin {
    width:17%;
}

select {
    width: 50%;
    align-self: center;
}
select#options__algorithm{
    width:90%;
}
.options__canvas-dimensions input {
    align-self: center;
    width: 50%;
 }

.graph-section__button{
    margin-top:5%;
 }
#graph-button{
    /*Text inside button*/
    white-space: normal;
    word-wrap: break-word;
    width:100px;
    height: 30px;
    border-radius: 10px;
    background-color:aquamarine;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}

#graph-button:active {
    background-color: cadetblue;
}

/* Graph section */
.graph-section {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:70%;
}

.graph-section > * {
    margin-top:5%;
}

.details-box {
    width:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#details {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#details-box__description {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.details-box input {
    width: 10%;
    margin-top:10%;
}

.canvas {   
    display:flex;
    flex-direction: column;
    align-items: center;
}
#canvas {
    border: 1px solid black;
}

#canvas__title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
